html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

header {
  text-align: center;
  background-color: #d05c2e;
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  border: 2px solid #a63f38;
}

.columns {
  display: flex;
  flex-direction: row;
  padding: .4em 0;
}

.col {
  width: 50%;
  background-color: #d05c2e;
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  border-top: 2px solid #a63f38;
  border-right: 2px solid #a63f38;
  padding: .5em 0;
}

.images {
  width: 40px;
  align-items: center;
  justify-content: space-between;
}


.col:hover {
  background-color: #a63f38;
}

*, *::before, *::after {
  box-sizing: inherit;
}
